{8ECF3C15-BE54-4558-AD9D-20A6DE2915E2}

Base api calls:
http://headless.local/sitecore/api/layout/render/jss?item=/&sc_apikey={8ECF3C15-BE54-4558-AD9D-20A6DE2915E2}

http://hello-world-headless.local/sitecore/api/layout/render/jss?item=/&sc_apikey={8ECF3C15-BE54-4558-AD9D-20A6DE2915E2}

http://hello-moon-headless.local/sitecore/api/layout/render/jss?item=/&sc_apikey={8ECF3C15-BE54-4558-AD9D-20A6DE2915E2}
