.footer {
    background-color: $brand-dark-grey;
    color: $brand-white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: auto;

    &-container {
    }

    &-image {
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5 {
        color: inherit;
    }
    .nav-link {
        transition: color 0.2s;
        color: rgba($brand-white, 0.8);
        &:hover,
        &:active,
        &:focus {
            color: $brand-white;
        }
    }
}
