body {
    position: relative;
    overflow-x: hidden;
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row {
    + .row {
        margin-top: 30px;
    }
}

.narrow-grid {
    .row {
        margin-left: -6px;
        margin-right: -6px;
        [class*='col'] {
            padding-left: 6px;
            padding-right: 6px;
        }
    }
}

.eh-grid {
    display: flex;
}
