body {
    position: relative;
    overflow-x: hidden;
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row {
    + .row {
        margin-top: 30px;
    }
}

.eh-grid {
    display: flex;
}
