html,
body {
    font-size: 16px;
}
body {
    font-family: $body-font;
}

h1,
.h1 {
    font-family: $body-font;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    font-weight: $heading-weight;
    color: $heading-color;
}

small,
.small {
    font-weight: inherit;
    display: block;
}
